<span style="font-weight: bold; font-size: 3em;">This is a page to see how jsreport work together with Ember Js</span>
<div id="reportPlaceholder" style="height:600px;border-color: black;  border-style: solid;" aria-placeholder="PDF"></div>
<div>
  <button {{action "displayPdf"}}>View Pdf</button>
  <button {{action "downloadPdf"}}>Download Pdf</button>
</div>

